*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #b4b7b8;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 15.62vw;
  display: flex;
  flex-direction: column;
  background-color: #242b2e;
  color: #6b7072;
  box-shadow: 8px 0 14px 0 rgba(70, 70, 70, 0.55);
}

.logo {
  width: 100%;
  height: 11.57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.logo-img {
  width: 9vw;
}

.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.93vmax;
  line-height: 1.66vmax;
  height: 3.22vmax;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  background-color: #2f373b;
  background: linear-gradient(to bottom, #333b3f 0%, #2e363a 100%);
  padding-right: 1.3vmax;
}

.main-nav a:hover {
  transition: all 0.2s;
  background: linear-gradient(to bottom, #18a3a1 0%, #31bdbb 100%);
}

.main-nav .main-nav__active {
  background: linear-gradient(to bottom, #18a3a1 0%, #31bdbb 100%);
}

.filter-title {
  color: #1ab5b3;
  fill: #1ab5b3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  font-size: 0.98vmax;
  line-height: 0;
  padding: 1.25vmax;
}

.filter-title svg {
  width: 1vmax;
  height: 1vmax;
  margin-left: 0.62vmax;
}

.filter-nav a {
  display: flex;
  justify-content: flex-end;
  font-size: 0.67vmax;
  line-height: 1.25vmax;
  padding: 0.12vmax 1.2vmax;
  text-decoration: none;
  color: #6b7072;
}

.filter-nav a:hover {
  color: #fff;
}

.filter-nav .filter-nav__active {
  color: #fff;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25vmax;
  margin-top: 1.25vmax;
  border-top: 1px solid #1e282b;
  width: 100%;
}

.socials img {
  width: 1.25vmax;
  height: 1.25vmax;
}

.socials a {
  margin-left: 0.52vmax;
}

.socials a:hover {
  transform: scale(0.9);
}

.copyright {
  padding-right: 1.25vmax;
  text-align: right;
  width: 100%;
  font-size: 0.62vmax;
  color: #6b7072;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-left: 15.62vw;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.portfolio-box {
  height: 16.19vw;
  max-width: 21.09vw;
  position: relative;
  overflow: hidden;
}

.portfolio-box img {
  width: 102%;
  height: auto;
  position: absolute;
  z-index: 1;
}

.portfolio-box a {
  position: absolute;
  z-index: 2;
  left: -21vw;
  display: flex;
  width: 100%;
  height: inherit;
  background-color: rgba(45, 184, 185, 0.9);
  color: #ffffff;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.6s;
}

.portfolio-box:hover a {
  transition: 0.6s;
  left: 0;
}

.portfolio-box__arrow {
  width: 3vw;
  height: 3vw;
  fill: #fff;
}

.portfolio-box h3 {
  font-size: 1.8vw;
  font-weight: 400;
  margin-bottom: 0.78vw;
}

.portfolio-box h4 {
  font-size: 1vw;
  font-weight: 400;
}

.portfolio-box h4:after {
  content: '';
  display: block;
  background-color: #ffffff;
  height: 1px;
  margin: 1vw auto;
  width: 100%;
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 4.68vw;
  height: 4.68vw;
  background-color: rgba(45, 184, 185, 0.9);
  fill: #fff;
  padding: 1vw;
  cursor: pointer;
}

.info-box {
  position: fixed;
  right: 0;
  top: 4.68vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1vw 3.85vw 1vw 1vw;
  transform: translateX(100%);
  transition: all 0.35s;
}

.info-box-open {
  transform: translateX(0%);
  transition: all 0.35s;
}

.info-box ul {
  padding: 0;
  margin: 0;
}

.info-box li {
  list-style: none;
  color: #fff;
  font-size: 0.83vmax;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 0.78vmax;
  margin-bottom: 1vw;
}

.info-box li:last-of-type {
  margin-bottom: 0;
}

.info-box svg {
  height: 0.88vw;
  fill: #ffffff;
  margin-right: 0.52vw;
}

.wrap {
  margin: 1.56vw;
  padding: 1.56vw;
}

.white {
  background-color: #fff;
}

.work-page {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;
}

.work-page__left, .work-page__right {
  width: 48%;
}

.page-left__img {
  width: 100%;
  overflow: hidden;
  height: 29.16vw;
}

.page-left__img img {
  width: 100%;
  height: auto;
}

.page-left__about {
  margin-top: 1.3vw;
  padding-bottom: 1.6vw;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.56vw;
}

.page-left__about h2 {
  font-size: 1.25vw;
  line-height: 1.35vw;
  color: #000000;
  font-weight: 400;
  margin-bottom: 1vw;
}

.page-left__about p {
  color: #a3a3a3;
  font-size: 0.93vw;
  line-height: 1.56vw;
  margin-bottom: 2.39vw;
}

.page-left__about p:last-of-type {
  margin-bottom: 0;
}

.page-left__related-list {
  display: flex;
  align-items: center;
}

.page-left__related-list a {
  width: 10vw;
}

.page-left__related-list a img {
  width: 100%;
  display: block;
}

.title-info {
  font-size: 1.25vw;
  line-height: 1.35vw;
  color: #000000;
  font-weight: 400;
  margin-bottom: 1.5vw;
}

.project-info {
  margin-bottom: 1.56vw;
}

.project-info ul {
  padding: 0;
}

.project-info ul li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #a3a3a3;
  font-size: 0.8vw;
  line-height: 1.56vw;
  padding: 0.72vw 0;
  border-bottom: 1px solid #e5e5e5;
}

.project-info ul li img {
  margin-right: 0.67vw;
}

.project-tags {
  margin-bottom: 1.56vw;
}

.project-tags__list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.project-tags__list-tag {
  border: 1px solid #dbdbdb;
  font-size: 0.7vw;
  color: #a3a3a3;
  padding: 0.35vw 1vw;
  border-radius: 0.6vw;
  cursor: pointer;
  margin: 0 0.4vw 0.4vw 0.4vw;
}

.project-tags__list-tag:first-of-type {
  margin: 0 0.4vw 0 0;
}

.project-gallery {
  margin-bottom: 1.56vw;
}

.project-gallery__list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.project-gallery__list-item {
  width: 4.06vw;
  height: 4.06vw;
  transition: all 0.3s;
  cursor: pointer;
}

.project-gallery__list-item:hover {
  transition: all 0.3s;
  transform: scale(0.9);
}

.project-gallery__list-item img {
  display: block;
  width: 100%;
}

.project-features ul {
  padding: 0;
  list-style: none;
}

.project-features ul svg {
  width: 0.62vw;
  fill: #a3a3a3;
  margin-right: 0.52vw;
}

.project-features ul li {
  font-size: 0.8vw;
  margin-bottom: 0.8vw;
  color: #848484;
}

.project-features ul li:last-of-type {
  margin-bottom: 0;
}

.about-page {
  display: flex;
  justify-content: space-between;
}

.about-page__left, .about-page__right {
  width: 48%;
}

.about-page__left-img {
  width: 100%;
  overflow: hidden;
  height: 15.72vw;
}

.about-page__left-img img {
  width: 100%;
  height: auto;
}

.about-page__left-about {
  margin-top: 1.3vw;
  padding-bottom: 1.6vw;
  border-bottom: 1px solid #e5e5e5;
  color: #a3a3a3;
  font-size: 0.93vw;
  line-height: 1.56vw;
  margin-bottom: 1.56vw;
}

.about-page__left-about h2 {
  font-size: 1.25vw;
  line-height: 1.35vw;
  color: #000000;
  margin-bottom: 1vw;
  font-weight: 400;
}

.about-page__left-about p {
  margin-bottom: 2.39vw;
}

.about-page__left-about p:last-of-type {
  margin-bottom: 0;
}

.about-page__left-staff__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vw;
}

.about-page__left-staff__list .staff-item {
  width: 11.2vw;
  height: 9.37vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page__left-staff__list .staff-item a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: rgba(45, 184, 185, 0.9);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: -15vw;
  z-index: 1;
  transition: 0.6s;
  text-decoration: none;
}

.about-page__left-staff__list .staff-item h3 {
  font-size: 1.1vw;
}

.about-page__left-staff__list .staff-item h4 {
  font-size: 1vw;
}

.about-page__left-staff__list .staff-item:hover a {
  transition: 0.6s;
  left: 0;
}

.about-page__left-staff__list .staff-item img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.about-page__right-skills {
  margin-bottom: 1.56vw;
}

.about-page__right-skills ul {
  padding: 0;
}

.about-page__right-skills li {
  list-style: none;
  display: block;
  margin-bottom: 0.93vw;
  font-size: 0.78vw;
  color: #727272;
}

.about-page__right-skills li p:last-of-type {
  color: #000;
}

.skills-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.skills-progress {
  width: 100%;
  height: 1.77vw;
  border: 1.3px solid #ececec;
}

.skills-progress__bar {
  background-color: #e2e2e2;
  height: 100%;
}

.testimonial {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.16vw;
  background-color: #1ab5b3;
  color: #fff;
}

.testimonial h3 {
  font-style: italic;
  font-size: 0.9vw;
  margin: 0;
  margin-left: 1.25vw;
}

.testimonial img {
  width: 4.16vw;
  height: 4.16vw;
}

.testimonial-text {
  padding: 1.56vw;
  border: 1px solid #ececec;
  color: #a3a3a3;
  font-size: 0.93vw;
  line-height: 1.56vw;
  margin-bottom: 1.56vw;
}

.about-page__right-services ul {
  padding: 0;
  list-style-position: inside;
}

.about-page__right-services li {
  font-size: 1vw;
  color: #848484;
  margin-bottom: 0.9vw;
  cursor: pointer;
}

.about-page__right-services li:hover {
  transition: all 0.35s;
  color: #1ab5b3;
}

.blog-post-height1 {
  height: 12vw;
}

.blog-post-height2 {
  height: 13.6vw;
}

.blog-post-height3 {
  height: 9.58vw;
}

.blog-post-height4 {
  height: 7.34vw;
}

.blog-post-height5 {
  height: 19vw;
}

.blog-post-height6 {
  height: 8.75vw;
}

.blog-post-height7 {
  height: 13.8vw;
}

.wrapper {
  margin: 1.56vw;
  padding: 0;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog-list__post {
  width: 15.31vw;
  height: auto;
  margin-bottom: 1.3vw;
  overflow: hidden;
  color: #9c9c9c;
  background-color: #fff;
  font-size: 0.67vw;
  line-height: 1.14vw;
}

.blog-list__post-img {
  width: 100%;
  overflow: hidden;
}

.blog-list__post-img img {
  height: 100%;
}

.blog-list__post-about {
  padding: 1vw;
  border-bottom: 1px solid #e3e3e3;
}

.blog-list__post-about h3 {
  color: #242424;
  font-size: 0.93vw;
  margin-bottom: 0.78vw;
  font-weight: 400;
}

.blog-list__post-info {
  display: flex;
  align-items: center;
  padding: 1vw;
}

.blog-list__post-info p {
  margin: 0;
}

.blog-list__post-info svg {
  height: 0.83vw;
  fill: #9c9c9c;
  margin-right: 0.5vw;
}

.blog-list__post-info_comment, .blog-list__post-info_date {
  display: flex;
  align-items: center;
}

.blog-list__post-info_comment {
  margin-right: 1vw;
}

.blog-list__single a {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list__single svg {
  position: absolute;
  fill: #ffffff;
  width: 3vw;
  height: 3vw;
  top: calc(50% - 1.5vw);
  left: calc(50% - 1.5vw);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.blog-list__single a:hover svg {
  transition: all 0.3s;
  opacity: 1;
}

.blog-list__single img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.blog-list__another {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #1ab5b3;
  padding: 2vw 1.5vw;
  font-size: 0.72vw;
}

.blog-list__another p {
  text-align: center;
  font-size: 0.9vw;
  margin-bottom: 0.72;
}

.blog-list__another a {
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}

.blog-list__aside {
  background-color: #242b2e;
  border-left: 0.78vw solid #1ab5b3;
  padding: 1vw 1.2vw;
}

.blog-list__aside h3 {
  font-size: 1.09vw;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0.78vw;
}

.blog-list__aside p {
  color: #9c9c9c;
  font-size: 0.72vw;
}

.blog-list__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242b2e;
  padding: 1.82vw 1.56vw;
  font-family: Constantia;
  font-style: italic;
  flex-direction: column;
}

.blog-list__quote h4 {
  font-size: 1.09vw;
  margin-bottom: 1.25vw;
  text-align: center;
  line-height: 1.35vw;
  font-weight: 400;
  color: #fff;
}

.blog-list__quote p:first-of-type {
  font-size: 3.33vw;
  margin: 0;
  padding-top: 0.8vw;
}

.blog-list__quote p {
  color: #1ab5b3;
  font-size: 0.93vw;
}

.blog-button__container {
  display: flex;
  justify-content: center;
}

.blog-button__container .blog-btn {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  background-color: #1ab5b3;
  font-size: 1vw;
  padding: 0.9vw 1.4vw;
  transition: all 0.3s;
}

.blog-button__container .blog-btn:hover {
  background-color: #242b2e;
  transition: all 0.3s;
}

.blog-post-height6 img,
.blog-post-height4 img {
  height: auto;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */