*, *:before, *:after {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 15.62vw;
  display: flex;
  flex-direction: column;
  background-color: #242b2e;
  color: #6b7072;
  box-shadow: 8px 0 14px 0 rgba(70, 70, 70, 0.55);
}

.logo {
  width: 100%;
  height: 11.57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.logo-img {
  width: 9vw;
}

.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.93vmax;
  line-height: 1.66vmax;
  height: 3.22vmax;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  background-color: #2f373b;
  background: linear-gradient(to bottom, #333b3f 0%, #2e363a 100%);
  padding-right: 1.3vmax;
}

.main-nav a:hover {
  transition: all 0.2s;
  background: linear-gradient(to bottom, #18a3a1 0%, #31bdbb 100%);
}

.filter-title {
  color: #1ab5b3;
  fill: #1ab5b3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  font-size: 0.98vmax;
  line-height: 0;
  padding: 1.25vmax;
}

.filter-title svg {
  width: 1vmax;
  height: 1vmax;
  margin-left: 0.62vmax;
}

.filter-nav a {
  display: flex;
  justify-content: flex-end;
  font-size: 0.67vmax;
  line-height: 1.25vmax;
  padding: 0.12vmax 1.2vmax;
  text-decoration: none;
  color: #6b7072;
}

.filter-nav a:hover {
  color: #fff;
}

.filter-nav a.filter-nav__active {
  color: #fff;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25vmax;
  margin-top: 1.25vmax;
  border-top: 1px solid #1e282b;
  width: 100%;
}

.socials img {
  width: 1.25vmax;
  height: 1.25vmax;
}

.socials a {
  margin-left: 0.52vmax;
}

.socials a:hover {
  transform: scale(0.9);
}

.copyright {
  padding-right: 1.25vmax;
  text-align: right;
  width: 100%;
  font-size: 0.62vmax;
  color: #6b7072;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-left: 15.62vw;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.portfolio-box {
  height: 16.19vw;
  max-width: 21.09vw;
  position: relative;
  overflow: hidden;
}

.portfolio-box img {
  width: 102%;
  height: auto;
  position: absolute;
  z-index: 1;
}

.portfolio-box a {
  position: absolute;
  z-index: 2;
  left: -21vw;
  display: flex;
  width: 100%;
  height: inherit;
  background-color: rgba(45, 184, 185, 0.9);
  color: #ffffff;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.6s;
}

.portfolio-box:hover a {
  transition: 0.6s;
  left: 0;
}

.portfolio-box__arrow {
  width: 3vw;
  height: 3vw;
  fill: #fff;
}

.portfolio-box h3 {
  font-size: 1.8vw;
  font-weight: 400;
  margin-bottom: 0.78;
}

.portfolio-box h4 {
  font-size: 1vw;
  font-weight: 400;
}

.portfolio-box h4:after {
  content: '';
  display: block;
  background-color: #ffffff;
  height: 1px;
  margin: 1vw auto;
  width: 100%;
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 4.68vw;
  height: 4.68vw;
  background-color: rgba(45, 184, 185, 0.9);
  fill: #fff;
  padding: 1vw;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */